<h1>Hello world. This is my Portfolio</h1>

<%= link_to("About me.", about_path, :class => "fancy_link") %>
<br>
<%= link_to("Projects", projects_path, :class => "fancy_link") %>
<br>
<%= link_to("Blog Posts.", blog_entries_path, :class => "fancy_link") %>
<br>
<%= link_to("Contact", new_contact_path, :class => "fancy_link") %>






<p>
  <p>
    <%= link_to("Log In", login_path) %>