<div id= "fcontent">
<h1 class="fheadertext">New Contact</h1>

<!-- Creates a POST request to "/users" -->
<%= form_for @contact  do |f| %>


  <%= f.text_field :name, :placeholder => "Name"%>
<br>


  <%= f.text_field :email, :placeholder => "Email"%>
<br>
 
  <%= f.text_area :message, :placeholder => "Say what you need to say."%>
<br>

  
  <%= f.submit %>

<% end %>

<% if current_user %>
<br>
  <%= link_to("All contacts", contacts_path) %>
  <% end %>