<div id= "fcontent">
<h1 class="fheadertext">New Project</h1>


<!-- Creates a POST request to "/users" -->
<%= form_for @project, :html => {:multipart => true}  do |f| %>


<%= f.text_field :name, :placeholder => "Name" %>
<br>
<%= f.text_field :description, :placeholder => "Description" %>
<br>
<%= f.text_area :summary, :placeholder => "Summary" %>
<br>
<%= f.text_field :github, :placeholder => "Github" %>
<br>
<%= f.file_field :project_photo %>

<%= f.submit "Make Project", :class => 'submit'%>

<% end %>

</div>