<div id= "fcontent">
<h1 class="fheadertext"><%= @project.name %></h1>


<%= image_tag(@project.project_photo_url(:project_thumb))%>
<p>
<%= @project.description %>
<br>
<%= @project.summary %>
</p>
<%= link_to("Github",@project.github) %></h3>
<br>
<%if current_user %>
<%= link_to("Edit this Project", edit_project_path(@project.id)) %>
<% end %>

</div>