<h1><%= @project.name %></h1>

<p>
<%= @project.description %>
<br>
<%= @project.summary %>
</p>
<%= link_to("Github",@project.github) %></h3>
<br>
 <%= image_tag(@project.project_photo)%>
<br>
<%if current_user %>
<%= link_to("Edit this Project", edit_project_path(@project.id)) %>
<% end %>
<br>
<%= link_to("All Projects", projects_path) %>
<br>
<%= link_to("Home", root_path) %>