<!DOCTYPE html>
<html>
<head>
  <title>SimplePortfolio</title>
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Dosis:300,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
<p>	
<%= "Hello " + current_user.email + "--"%> <%= link_to("Logout", logout_path) %>
</p>
<% end %>
	
<div class ="halfheader">
	<h1>NATHANIEL RUIZ PORTFOLIO</h1>
</div>	

<nav id= 'fnav'>

<li class="nav-li"><%= link_to("Home", root_path, :class => "nav-item") %></li>
<li class="nav-li"><%= link_to("About me.", about_path, :class => "nav-item") %></li>
<li class="nav-li"><%= link_to("Projects", projects_path, :class => "nav-item") %></li>
<li class="nav-li"><%= link_to("Blog Posts.", blog_entries_path, :class => "nav-item") %></li>
<li class="nav-li"><%= link_to("Contact", contact_me_path, :class => "nav-item") %></li>
</nav>
	

  <% request.remote_ip %>

<%= yield %>

</body>
</html>
